.app-container {
  text-align: center;
  padding: 0;
  background-color: #F4F4F4; /* Background Color */
  min-height: 100vh;
}

.header {
  margin-bottom: 40px;
  padding: 60px 20px 20px 20px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: #333333; /* Text Color */
  margin-bottom: 10px;
}

.subtitle {
  font-size: 18px;
  color: #666666;
}

.about-section {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  color: #5587a9;
  margin-bottom: 10px;
}

.section-content {
  font-size: 16px;
  line-height: 1.5;
  color: #555555;
}