.drawing-canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.canvas-draw {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.drawing-controls {
  display: flex;
  gap: 10px;
}

.drawing-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.color-picker,
.brush-size {
  display: flex;
  align-items: center;
  gap: 5px;
}

.color-picker label,
.brush-size label {
  font-weight: bold;
}

.drawing-button {
  background-color: #0c96e4;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.drawing-button:hover {
  background-color: #0a7ec1;
}

.saved-drawing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saved-drawing {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  gap: 10px;
}

.analyze-button,
.upload-new-drawing-button {
  background-color: #0c96e4;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.analyze-button:hover,
.upload-new-drawing-button:hover {
  background-color: #0a7ec1;
}

.progress-bar-container {
  width: 800px;
  max-width: 800px;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.progress-bar {
  height: 100%;
  background-color: #0c96e4;
  width: 0%;
  transition: width 0.2s ease-in-out;
}
