.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0c96e4;
  padding: 10px 20px;
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 40px;
  width: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav-item {
  margin-right: 30px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: underline;
}
