.image-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
}

.upload-box {
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 800px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-box.dragging {
  background-color: #f0f0f0;
}

.hidden-input {
  display: none;
}

.uploaded-image-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploaded-image-preview img {
  max-width: 800px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.analyze-button {
  background-color: #0c96e4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
}

.analyze-button:hover {
  background-color: #0c96e4;
}

.progress-bar-container {
  width: 100%;
  max-width: 800px;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 16px;
}

.progress-bar {
  height: 100%;
  background-color: #0c96e4;
  width: 0%;
  transition: width 0.2s ease-in-out;
}
