.image-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.upload-box {
  border: 2px dashed #ccc;
  border-radius: 8px;
  width: 800px;
  height: 400px;
  position: relative;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
}

.upload-box.dragging {
  background-color: #f0f0f0;
}

.hidden-input {
  display: none;
}

.upload-box p {
  margin: 0;
  font-size: 18px;
  color: #666;
}

.uploaded-image-preview {
  width: 100%;
  height: 100%;
  position: relative;
}

.image-preview-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-preview-container img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Make the image fill the container */
}

.controls {
  margin-top: 20px;
}

.analyze-button,
.upload-new-image-button {
  background-color: #0c96e4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  width: 200px;
  text-align: center;
}

.analyze-button:hover,
.upload-new-image-button:hover {
  background-color: #0a7ec1;
}

.progress-bar-container {
  width: 800px;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #0c96e4;
  width: 0%;
  transition: width 0.2s ease-in-out;
}
